doctype html
html
	head
		include sdn_ryu/includes/head
	body
		section.section
			.container
				.columns
					.column.is-3
						a.button.is-primary.is-loading Button
					.column.is-3
						a.button.is-primary
							span.icon.is-medium
								i.fa.fa-home
					.column.is-3
						a.button.is-primary
							span.icon
								i.fa.fa-home
							span Loading
